In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display # Allows the use of display() for DataFrames

pd.set_option('display.max_columns', None)
plt.style.use(['dark_background'])
%matplotlib inline

In [2]:
reviews_raw = pd.read_csv("reviews_raw.csv")

In [3]:
reviews_raw.head(2)

,cabin_service,country,date_flown,date_published,ground_service,id,name,rating,recommended,review_count,route,seat_comfort,seat_type,text,text_header,traveller_type,value_for_money,airline_name,airline_code
0,2.0,United Kingdom,2019-06-01 00:00:00,2019-06-25,1.0,anchor666859,Gyan Fernando,\n1/10\n,0.0,20,Moroni to Anjouan,2.0,Economy Class,✅ Trip Verified | Moroni to Anjouan. It is a v...,"""Not a good airline""",Solo Leisure,2.0,AB Aviation,ab-aviation
1,1.0,United Kingdom,2019-06-01 00:00:00,2019-06-25,1.0,anchor666802,Gyan Fernando,\n1/10\n,0.0,20,Anjouan to Dzaoudzi,2.0,Economy Class,✅ Trip Verified | Anjouan to Dzaoudzi. A very...,"""flight was fortunately short""",Solo Leisure,2.0,AB Aviation,ab-aviation

In [4]:
"""Clean rating"""
def clean_rating(text):
    try:
        rating = int(text[1:][:-4])
    except:
        rating = pd.np.nan
    return rating

print(reviews_raw["rating"].head())
reviews = reviews_raw
reviews["rating"] = reviews_raw["rating"].apply(lambda x: clean_rating(x))
print(reviews["rating"].head())

0    \n1/10\n
1    \n1/10\n
2    \n8/10\n
3    \n1/10\n
4    \n1/10\n
Name: rating, dtype: object
0    1.0
1    1.0
2    8.0
3    1.0
4    1.0
Name: rating, dtype: float64

In [5]:
"""Clean header text"""
def clean_header(header):
    #remove qoute
    text = header.replace('"', '').replace('  ', '')
    if text== "":
        pass
    #remove 'customer review'
    elif text[-15:] == 'customer review':
        text = ""
    elif not text[-1] == '.':
        text += '.'
    return text

reviews.text_header = reviews_raw.text_header.apply(clean_header)

In [6]:
reviews_raw.text.iloc[3][:14]

'Not Verified |'

In [7]:
""" Clean review text"""

def clean_text(text):
    if text== "":
        pass
    #remove 'customer review'
    elif text[0:17] =='✅ Trip Verified |':
        text = text[17:]
    elif text[:20] == '✅ Verified Review | ':
        text = text[20:]
    elif text[:14] == 'Not Verified |':
        text = text[14:]
    elif not text[-1] == '.':
        text += '.'
    return text.replace('"', '').replace('  ', '')

reviews.text = reviews_raw.text.apply(clean_text)

In [8]:
"""Germanwings Flight 9525 accident"""
def days_after_crash(date_published):
    """
    Count days after the accident on 2015.03.25.
    """
    from datetime import datetime
    try:
        days = (datetime.strptime(date_published, "%Y-%m-%d") - datetime(2015, 3, 24)).days
        return days if days>0 else 0
    except:
        return pd.np.nan

In [9]:
reviews["days_after_crash"] = reviews_raw["date_published"].apply(days_after_crash)

print(reviews[["date_published","days_after_crash"]].head())

  date_published  days_after_crash
0     2019-06-25              1554
1     2019-06-25              1554
2     2018-10-12              1298
3     2018-10-05              1291
4     2018-07-29              1223

In [10]:
def add_header(doc):
    text_header = doc[0].replace('"', '').replace('  ', '')
    text = doc[1].replace('"', '').replace('  ', '')
    return text_header + " " + text

In [11]:
reviews["review"] = reviews_raw[["text_header", "text"]].apply(add_header, axis=1)

In [12]:
"""Find germanwings' peers"""
reviews["germanwings"] = reviews["airline_code"] =="germanwings"
germanwings_routes = set(reviews[reviews["germanwings"]]["route"].dropna()) 

peers_set = set(reviews[reviews["route"].isin(germanwings_routes)]["airline_code"])
print(peers_set)

peers = reviews[reviews["airline_code"].isin(peers_set)]

{'germanwings', 'vueling-airlines', 'niki', 'ryanair', 'eurowings', 'air-berlin', 'klm-royal-dutch-airlines', 'british-airways'}

In [13]:
reviews

,cabin_service,country,date_flown,date_published,ground_service,id,name,rating,recommended,review_count,route,seat_comfort,seat_type,text,text_header,traveller_type,value_for_money,airline_name,airline_code,days_after_crash,review,germanwings
0,2.0,United Kingdom,2019-06-01 00:00:00,2019-06-25,1.0,anchor666859,Gyan Fernando,1.0,0.0,20,Moroni to Anjouan,2.0,Economy Class,Moroni to Anjouan. It is a very small airline...,Not a good airline.,Solo Leisure,2.0,AB Aviation,ab-aviation,1554,Not a good airline. Moroni to Anjouan. It is ...,False
1,1.0,United Kingdom,2019-06-01 00:00:00,2019-06-25,1.0,anchor666802,Gyan Fernando,1.0,0.0,20,Anjouan to Dzaoudzi,2.0,Economy Class,Anjouan to Dzaoudzi. A very small airline and ...,flight was fortunately short.,Solo Leisure,2.0,AB Aviation,ab-aviation,1554,flight was fortunately short. Anjouan to Dzaou...,False
2,4.0,Germany,2018-10-01 00:00:00,2018-10-12,5.0,anchor612920,M Jager,8.0,1.0,32,Ljubljana to Munich,4.0,Economy Class,Ljubljana to Munich. The homebase airport of ...,the crew was nice.,Family Leisure,5.0,Adria Airways,adria-airways,1298,the crew was nice. Ljubljana to Munich. The h...,False
3,1.0,Germany,2018-10-01 00:00:00,2018-10-05,1.0,anchor611417,Giulia Rossi,1.0,0.0,0,Zurich to Ljubljana,2.0,Economy Class,Zurich to Ljubljana. Very poor customer servic...,Very bad experience overall.,Business,1.0,Adria Airways,adria-airways,1291,Very bad experience overall. Zurich to Ljublja...,False
4,1.0,United States,2018-07-01 00:00:00,2018-07-29,4.0,anchor595049,Galya Slavov,1.0,0.0,0,Vienna to Sofia,4.0,Economy Class,Vienna to Sofia. The flight was delayed by 2 h...,bad customer service.,Family Leisure,1.0,Adria Airways,adria-airways,1223,bad customer service. Vienna to Sofia. The fli...,False
5,3.0,France,2018-05-01 00:00:00,2018-07-19,3.0,anchor592506,Loic Jouan,2.0,0.0,0,Paris to Skopje via Ljubljana,3.0,Economy Class,We were traveling from Paris to Skopje on May ...,overall very poor.,Solo Leisure,2.0,Adria Airways,adria-airways,1213,overall very poor. We were traveling from Pari...,False
6,2.0,Slovenia,2018-06-01 00:00:00,2018-06-30,2.0,anchor587586,P Gamirj,2.0,0.0,0,Ljubljana to Munich,1.0,Economy Class,Ljubljana to Munich. Adria's checkin system is...,Would not fly again.,Business,1.0,Adria Airways,adria-airways,1194,Would not fly again. Ljubljana to Munich. Adri...,False
7,3.0,Czech Republic,2018-06-01 00:00:00,2018-06-24,1.0,anchor586201,B Haruz,3.0,0.0,0,Ljubljana to Prague,3.0,Economy Class,A very unpleasant experience for my family. We...,very unpleasant experience.,Couple Leisure,1.0,Adria Airways,adria-airways,1188,very unpleasant experience. A very unpleasant ...,False
8,5.0,Slovenia,2018-04-01 00:00:00,2018-05-04,5.0,anchor567813,Michel Zombra,10.0,1.0,0,Frankfurt to Ljubljana,5.0,Economy Class,Frankfurt to Ljubljana. Flight was very comfor...,Flight was very comfortable.,Business,5.0,Adria Airways,adria-airways,1137,Flight was very comfortable. Frankfurt to Ljub...,False
9,1.0,Germany,2018-03-01 00:00:00,2018-03-11,1.0,anchor554731,S Hanarosic,1.0,0.0,0,Ljubljana to Frankfurt,2.0,Economy Class,Ljubljana to Frankfurt. Flight delayed for mor...,delayed for more than 2 hours.,Solo Leisure,1.0,Adria Airways,adria-airways,1083,delayed for more than 2 hours. Ljubljana to Fr...,False
10,4.0,United States,2017-09-01 00:00:00,2017-12-05,1.0,anchor533715,P Gregan,3.0,0.0,0,Ljubljana to Vienna,2.0,Economy Class,"Ljubljana to Vienna. Overall, the flight servi...",should be ashamed of their operations.,Solo Leisure,3.0,Adria Airways,adria-airways,987,should be ashamed of their operations. Ljublja...,False
11,5.0,Slovenia,2017-11-01 00:00:00,2017-11-20,5.0,anchor530744,G Vincent,9.0,1.0,0,Ljubljana to Sarajevo,5.0,Economy Class,Two nice short flights from Ljubljana to Sara...,Two nice short flights.,Business,3.0,Adria Airways,adria-airways,972,Two nice short flights. Two nice short flight...,False
12,3.0,Finland,2017-10-01 00:00:00,2017-10-27,1.0,anchor526087,A Kalen,2.0,0.0,0,Zurich to Ljubjana,3.0,Economy Class,We were 11 people coming in with a short conne...,extremely bad service.,Couple Leisure,1.0,Adria Airways,adria-airways,948,extremely bad service. We were 11 people comin...,False
13,4.0,United States,2017-06-01 00:00:00,2017-09-16,1.0,anchor516969,J Marikovic,2.0,0.0,0,Ljubljana to Munich,3.0,Economy Class,Ljubljana to Munich after arriving from Atlan...,never fly this airline again.,Family Leisure,2.0,Adria Airways,adria-airways,907,never fly this airline again. Ljubljana to Mu...,False
14,5.0,Switzerland,2017-04-01 00:00:00,2017-04-19,5.0,anchor478732,Alexander Stare,9.0,1.0,0,Ljubljana to Zurich,5.0,Economy Class,Ljubljana to Zurich on April 18th. Adria Airwa...,can't remember a flight delay.,Business,4.0,Adria Airways,adria-airways,757,can't remember a flight delay. Ljubljana to Zu...,False
15,5.0,Austria,2016-12-01 00:00:00,2017-01-27,5.0,anchor461141,Andreas Hartlieb,8.0,1.0,11,LJU to VIE,5.0,Business Class,Ljubljana to Vienna. After a fast boarding pr...,seat was quite comfortable .,Solo Leisure,4.0,Adria Airways,adria-airways,675,seat was quite comfortable . Ljubljana to Vie...,False
16,5.0,Slovenia,2016-10-01 00:00:00,2016-11-10,5.0,anchor442065,G Victor,10.0,1.0,0,LJU to VIE,5.0,Economy Class,Two very short flights with Adria Airways fro...,nice and comfortable flights.,Business,4.0,Adria Airways,adria-airways,597,nice and comfortable flights. Two very short ...,False
17,4.0,Singapore,2016-11-01 00:00:00,2016-11-09,3.0,anchor441947,Bojan Tercon,8.0,1.0,44,LJU to CPH,4.0,Business Class,I boarded the CRJ900 flight and at my seat I ...,what a great surprise.,Solo Leisure,4.0,Adria Airways,adria-airways,596,what a great surprise. I boarded the CRJ900 f...,False
18,5.0,Slovenia,2016-11-01 00:00:00,2016-11-03,4.0,anchor440765,L Benko,5.0,0.0,0,CDG to LJU,3.0,Economy Class,"Fly only if no other connection, I am a frequ...",value for money is not there nor the experience.,Business,1.0,Adria Airways,adria-airways,590,value for money is not there nor the experienc...,False
19,1.0,Australia,2016-10-01 00:00:00,2016-10-21,3.0,anchor437775,B Rudac,2.0,0.0,0,MUC to LJU,1.0,Economy Class,Munich to Ljubljana. Adria Airways as the nat...,fleet is tired and outdated.,Solo Leisure,1.0,Adria Airways,adria-airways,577,fleet is tired and outdated. Munich to Ljublj...,False
20,1.0,Netherlands,2016-10-01 00:00:00,2016-10-10,2.0,anchor435477,C Ransen,3.0,0.0,0,LJU to AMS,3.0,Economy Class,Ljubljana to Amsterdam. First experience with...,underwhelming and unimpressive.,Solo Leisure,2.0,Adria Airways,adria-airways,566,underwhelming and unimpressive. Ljubljana to ...,False
21,2.0,Slovenia,2016-08-01 00:00:00,2016-09-30,4.0,anchor433394,G Korjacan,3.0,0.0,0,LJU to BRU,2.0,Economy Class,Ljubljana to Brussels. Two very different exp...,very different experiences.,Couple Leisure,4.0,Adria Airways,adria-airways,556,very different experiences. Ljubljana to Brus...,False
22,4.0,United Kingdom,2016-09-01 00:00:00,2016-09-04,3.0,anchor427486,Ian Andrews,6.0,1.0,2,MAN to LJU,2.0,Economy Class,Booked this flight after many years using Easy...,staff were all pleasant enough.,Family Leisure,4.0,Adria Airways,adria-airways,530,staff were all pleasant enough. Booked this fl...,False
23,5.0,United Kingdom,2016-07-01 00:00:00,2016-08-06,1.0,anchor419465,Mike Whittingham,3.0,0.0,0,LGW to LJU,4.0,Economy Class,Gatwick to Ljubljana. Do not rely on Adria Ai...,Adria do not take criticism well.,Couple Leisure,3.0,Adria Airways,adria-airways,501,Adria do not take criticism well. Gatwick to ...,False
24,5.0,Estonia,2016-07-01 00:00:00,2016-07-29,5.0,anchor417279,Toomas Kristjan Käbin,10.0,1.0,0,TLL to ARN,5.0,Economy Class,Tallinn to Stockholm with Adria Airways. Clea...,Clean and fresh aircraft .,Solo Leisure,5.0,Adria Airways,adria-airways,493,Clean and fresh aircraft . Tallinn to Stockho...,False
25,4.0,United States,2016-07-01 00:00:00,2016-07-13,5.0,anchor412596,R Sanyal,8.0,1.0,0,ZRH to LJU,4.0,Economy Class,Flew roundtrip on this short route from Zurich...,the airline did its job.,Business,4.0,Adria Airways,adria-airways,477,the airline did its job. Flew roundtrip on thi...,False
26,5.0,Slovenia,2016-07-01 00:00:00,2016-07-11,5.0,anchor412018,G Vincent,10.0,1.0,0,LJU to ZRH,5.0,Economy Class,Two short flights with Adria Airways (Ljublja...,nice and professional service.,Solo Leisure,5.0,Adria Airways,adria-airways,475,nice and professional service. Two short flig...,False
27,2.0,Poland,2016-07-01 00:00:00,2016-07-10,4.0,anchor411785,M Osiecki,6.0,1.0,0,LCJ to CDG,3.0,Economy Class,Lodz to Paris CDG and Munich to Lodz with Adri...,cabin staff rather absent.,Solo Leisure,3.0,Adria Airways,adria-airways,474,cabin staff rather absent. Lodz to Paris CDG a...,False
28,3.0,United States,2016-01-01 00:00:00,2016-01-25,3.0,anchor373669,D Marks,3.0,0.0,0,MUC to PRN,2.0,Economy Class,Adria Airways flight from Pristina to Munich w...,never flying them again.,Solo Leisure,1.0,Adria Airways,adria-airways,307,never flying them again. Adria Airways flight ...,False
29,3.0,Slovenia,2015-09-01 00:00:00,2015-12-04,3.0,anchor360736,M Sepic,5.0,0.0,0,LJU to AMS,3.0,Economy Class,Ljubljana to Amsterdam in Adria Airways Econom...,similar to low cost airline.,Couple Leisure,2.0,Adria Airways,adria-airways,255,similar to low cost airline. Ljubljana to Amst...,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93763,2.0,United Kingdom,2017-09-01 00:00:00,2017-09-26,2.0,anchor519212,Mark Ellwood,8.0,1.0,21,Bagan to Heho,4.0,Economy Class,Bagan to Heho. Very short flight again anothe...,All in all a good flight.,Solo Leisure,4.0,Yangon Airways,yangon-airways,917,All in all a good flight. Bagan to Heho. Very...,False
93764,5.0,Australia,NaN,2013-05-01,NaN,anchor275208,Jeff Nash,10.0,1.0,0,NaN,5.0,Economy Class,Took the 4 tourist flights around Myanmar all ...,,NaN,5.0,Yangon Airways,yangon-airways,0,Took the 4 tourist flights around Myanmar all...,False
93765,NaN,Australia,NaN,2012-07-05,NaN,anchor275205,Rob Briggs,9.0,1.0,0,NaN,NaN,Economy Class,We were booked to take 4 flights on Yangon in ...,,NaN,4.0,Yangon Airways,yangon-airways,0,We were booked to take 4 flights on Yangon in...,False
93766,NaN,Germany,NaN,2009-03-10,NaN,anchor275206,Reinhard Kaempfer,7.0,1.0,0,NaN,NaN,Economy Class,RGN-MDL on ATR . We were a bit sceptical when ...,,NaN,4.0,Yangon Airways,yangon-airways,0,RGN-MDL on ATR . We were a bit sceptical when...,False
93767,NaN,United Kingdom,NaN,2011-10-09,NaN,anchor275220,M Alexander,6.0,1.0,0,NaN,NaN,First Class,Beirut to Sana'a on A330. Yemenia offers a Fir...,,NaN,4.0,Yemenia,yemenia,0,Beirut to Sana'a on A330. Yemenia offers a Fi...,False
93768,NaN,India,NaN,2011-08-11,NaN,anchor275221,Aagar Sambasivan,5.0,1.0,0,NaN,NaN,Economy Class,Sanah to Mumbai on A330. A full flight but the...,,NaN,4.0,Yemenia,yemenia,0,Sanah to Mumbai on A330. A full flight but th...,False
93769,NaN,Djibouti,NaN,2011-07-18,NaN,anchor275222,Abdourahman Bakr,6.0,1.0,0,NaN,NaN,Economy Class,Djibouti-Sana'a. There was a small delay leavi...,,NaN,4.0,Yemenia,yemenia,0,Djibouti-Sana'a. There was a small delay leav...,False
93770,NaN,Ethiopia,NaN,2011-06-13,NaN,anchor275223,Ermias Yohannis,3.0,0.0,0,NaN,NaN,Economy Class,Addis Ababa to Sana'a on Yemenia proved a dubi...,,NaN,4.0,Yemenia,yemenia,0,Addis Ababa to Sana'a on Yemenia proved a dub...,False
93771,NaN,United Arab Emirates,NaN,2011-06-04,NaN,anchor275224,P Yogesh,5.0,1.0,0,NaN,NaN,Economy Class,Aden-Dubai on A310. Check-in swift and airside...,,NaN,4.0,Yemenia,yemenia,0,Aden-Dubai on A310. Check-in swift and airsid...,False
93772,NaN,India,NaN,2011-05-19,NaN,anchor275225,Bharti Khan,5.0,1.0,0,NaN,NaN,Economy Class,Sana'a-Taiz B737-800 on domestic half-hour fli...,,NaN,4.0,Yemenia,yemenia,0,Sana'a-Taiz B737-800 on domestic half-hour fl...,False
93773,NaN,United Arab Emirates,NaN,2011-04-30,NaN,anchor275226,Eric Attheson,4.0,1.0,0,NaN,NaN,Economy Class,Addis Ababa to Sanaa. Flight leaves Addis earl...,,NaN,4.0,Yemenia,yemenia,0,Addis Ababa to Sanaa. Flight leaves Addis ear...,False
93774,NaN,United Kingdom,NaN,2011-04-25,NaN,anchor275227,Ian Howarth,5.0,1.0,0,NaN,NaN,Economy Class,Sana'a-Paris on A330. On-time departure in spi...,,NaN,4.0,Yemenia,yemenia,0,Sana'a-Paris on A330. On-time departure in sp...,False
93775,NaN,Saudi Arabia,NaN,2010-02-14,NaN,anchor275228,Roy Clogstoun,7.0,1.0,0,NaN,NaN,Economy Class,RUH-Sana'a return on time on both legs. RUH-SH...,,NaN,4.0,Yemenia,yemenia,0,RUH-Sana'a return on time on both legs. RUH-S...,False
93776,NaN,United Kingdom,NaN,2009-07-17,NaN,anchor275229,S Metcalfe,7.0,1.0,0,NaN,NaN,Economy Class,ADD-AMM via Sanaa. Overnight in Sanaa where Ye...,,NaN,4.0,Yemenia,yemenia,0,ADD-AMM via Sanaa. Overnight in Sanaa where Y...,False
93777,NaN,NaN,NaN,2009-03-10,NaN,anchor275230,I Chernin,4.0,0.0,0,NaN,NaN,NaN,Addis Ababa to Cairo via Sana'a. I was pleasan...,,NaN,NaN,Yemenia,yemenia,0,Addis Ababa to Cairo via Sana'a. I was pleasa...,False
93778,NaN,NaN,NaN,2009-02-18,NaN,anchor275231,Jack Smith,4.0,0.0,0,NaN,NaN,NaN,The tickets were the cheapest available. The S...,,NaN,NaN,Yemenia,yemenia,0,The tickets were the cheapest available. The ...,False
93779,NaN,NaN,NaN,2008-05-30,NaN,anchor275232,Sahar Choudhury,2.0,0.0,0,NaN,NaN,NaN,The return tickets London to Bangladesh were c...,,NaN,NaN,Yemenia,yemenia,0,The return tickets London to Bangladesh were ...,False
93780,NaN,NaN,NaN,2008-05-16,NaN,anchor275209,Z Khan,1.0,0.0,0,NaN,NaN,NaN,I bought the ticket as it was the cheapest ava...,,NaN,NaN,Yemenia,yemenia,0,I bought the ticket as it was the cheapest av...,False
93781,NaN,NaN,NaN,2008-04-07,NaN,anchor275210,Nizar Bantan,2.0,0.0,0,NaN,NaN,NaN,Jeddah-Sanaa-Paris return. On the way back I h...,,NaN,NaN,Yemenia,yemenia,0,Jeddah-Sanaa-Paris return. On the way back I ...,False
93782,NaN,NaN,NaN,2007-01-29,NaN,anchor275211,Meghan Zimmerman,NaN,0.0,0,NaN,NaN,NaN,Cairo to Sanaa and back. The service was good....,,NaN,NaN,Yemenia,yemenia,0,Cairo to Sanaa and back. The service was good...,False
93783,NaN,NaN,NaN,2006-10-18,NaN,anchor275212,Olli Toivonen,NaN,0.0,0,NaN,NaN,NaN,London to Aden (direct flight). Everything was...,,NaN,NaN,Yemenia,yemenia,0,London to Aden (direct flight). Everything wa...,False
93784,NaN,NaN,NaN,2006-04-11,NaN,anchor275213,Gill Holmes,NaN,0.0,0,NaN,NaN,NaN,I flew 2 international flights London - Sana'a...,,NaN,NaN,Yemenia,yemenia,0,I flew 2 international flights London - Sana'...,False
93785,NaN,NaN,NaN,2006-01-26,NaN,anchor275214,Jane Geels,NaN,0.0,0,NaN,NaN,NaN,I had a fully reconfirmed ticket from Sana'a t...,,NaN,NaN,Yemenia,yemenia,0,I had a fully reconfirmed ticket from Sana'a ...,False
93786,NaN,NaN,NaN,2005-11-29,NaN,anchor275215,Sverre Daehlen,NaN,0.0,0,NaN,NaN,NaN,I fly Yemenia every six months on the route Ri...,,NaN,NaN,Yemenia,yemenia,0,I fly Yemenia every six months on the route R...,False
93787,NaN,NaN,NaN,2004-01-09,NaN,anchor275216,L Singh,NaN,0.0,0,NaN,NaN,NaN,London - Sana'a to Jakarta and found the servi...,,NaN,NaN,Yemenia,yemenia,0,London - Sana'a to Jakarta and found the serv...,False
93788,NaN,NaN,NaN,2003-11-17,NaN,anchor275217,Sam Park,NaN,0.0,0,NaN,NaN,NaN,I travelled on Yemenia several times. The main...,,NaN,NaN,Yemenia,yemenia,0,I travelled on Yemenia several times. The mai...,False
93789,NaN,NaN,NaN,2003-10-23,NaN,anchor275218,David Howe,NaN,0.0,0,NaN,NaN,NaN,Last summer we flew Sana'a - London return. I ...,,NaN,NaN,Yemenia,yemenia,0,Last summer we flew Sana'a - London return. I...,False
93790,NaN,NaN,NaN,2003-05-06,NaN,anchor275219,B Herdens,NaN,0.0,0,NaN,NaN,NaN,My trip was from Paris to Sana'a as a tourist ...,,NaN,NaN,Yemenia,yemenia,0,My trip was from Paris to Sana'a as a tourist...,False
93791,4.0,Indonesia,2018-12-01 00:00:00,2019-01-05,5.0,anchor631424,Ramnath Rangaswamy,8.0,1.0,0,Pokhara to Kathmandu,4.0,Economy Class,Pokhara to Kathmandu. I received very good ser...,I would fly this airline again.,Solo Leisure,5.0,Yeti Airlines,yeti-airlines,1383,I would fly this airline again. Pokhara to Kat...,False
93792,5.0,Nepal,2016-06-01 00:00:00,2016-07-23,4.0,anchor415722,Alok Mishra,8.0,1.0,3,BWA to KTM,3.0,Economy Class,"I flew Yeti Airlines, June 28 from Bhairahawa...",cabin crew was friendly.,Business,5.0,Yeti Airlines,yeti-airlines,487,cabin crew was friendly. I flew Yeti Airlines...,False

In [14]:
reviews_text = reviews.groupby("airline_code")["review"].agg({"review": lambda x: "%s" % ' '.join(x)})

/Users/moradi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

In [18]:
#peers.to_csv("peers.csv", index=False)

In [19]:
#reviews_text.to_csv("reviews_text.csv")

In [20]:
#reviews.to_csv("reviews.csv", index=False)